.item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.item-headline {
  margin-bottom: 1rem;
}

.item-text {
  line-height: 1.5;
}

.item-price {
  min-width: 100px;
  text-align: right;
}
