@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Libre+Baskerville&display=swap");

body {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $white;
  color: $dark-red;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cormorant Garamond", serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
}

.food-container {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 960px) {
    flex-direction: row;
  }
}

.food-headline-wrapper {
  display: flex;
  flex: 1 0 30%;
}

.food-items-wrapper {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 960px) {
    background: $dark-red;
    color: $white;
    padding: 2rem;
  }
}

.imprint-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0;
}

.intro-container {
  margin: 10rem 0;
}
